# {{ ansible_managed }}
log:
  level: info

runner:
  file: .runner
  capacity: {{ forgejo_runner_capacity }}
  env_file: .env
  timeout: 3h
  insecure: {{ not forgejo_runner_verify_ssl }}
  fetch_timeout: 5s
  fetch_interval: 2s
  labels: {{ forgejo_runner_labels }}

cache:
  enabled: true
  dir: "/data/cache"
  host: ""
  port: 0
  external_server: ""

container:
  network: ""
  privileged: true
  force_pull: {{ forgejo_runner_force_pull }}
  options: >-
    --device /dev/fuse
    -v /run/podman/podman.sock:/var/run/docker.sock:z
    -v {{ forgejo_runner_conf_dir }}/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro,z
{% for mount in forgejo_runner_container_mounts %}
    -v {{ mount.src }}:{{ mount.dest }}:{{ mount.options }}
{% endfor %}
  workdir_parent:
  valid_volumes:
    - /run/podman/podman.sock
    - {{ forgejo_runner_conf_dir }}/ca-certificates.crt
{% for mount in forgejo_runner_container_mounts %}
    - {{ mount.src }}
{% endfor %}
  docker_host: "-"

envs:
  NODE_EXTRA_CA_CERTS: "/etc/ssl/certs/ca-certificates.crt"

host:
  workdir_parent:
